recursive-include python *.cpp

recursive-include anltk/src *.h *.cpp

recursive-include anltk/include *.h *.hpp

recursive-include subprojects/utfcpp/source *.h

include README.md

include Features.md 